<div class="post-content">
  <h3 class="panel-title">{{ site.data.locales[page.lang | default: site.lang].panel.latest_posts | default: "Recently Updated" }}</h3>
  {% if page.lang == "en" %}
    {% assign posts_to_show = site.posts | where: "lang", "en" %}
  {% else %}
    {% assign posts_to_show = site.posts | where: "lang", "ko" %}
  {% endif %}
  <ul>
    {% for post in posts_to_show limit: 5 %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
