<!-- Giscus Comments -->
<div id="giscus_container"></div>
<script src="https://giscus.app/client.js"
        data-repo="{{ site.data.theme.giscus_repo }}"
        data-repo-id="{{ site.data.theme.giscus_repo_id }}"
        data-category="{{ site.data.theme.giscus_category }}"
        data-category-id="{{ site.data.theme.giscus_category_id }}"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
