{% assign lang_code = page.lang | default: "ko" %}
{% assign theme = site.data.theme %}

<header class="site-header">
  <div class="container">
    <a class="site-title" href="{{ '/' | relative_url }}">
      <img
        src="{{ '/assets/themes/' | append: theme.theme_slug | append: '/images/logo.svg' | relative_url }}"
        alt="{{ theme.brand }} Logo"
        class="site-logo"
      />
      </a>

    <nav class="site-nav">
      {% include nav.html lang_code=lang_code %}
    </nav>
    
    <div class="header-utils">
      {% include search-box.html lang_code=lang_code %}
      {% include lang-switch.html %}
    </div>
  </div>
</header>
