<!-- /* _includes/header.html v1.0_202510220736 */ -->
<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img
        src="{{ '/assets/themes/modern-light/images/logo.svg' | relative_url }}"
        alt="{{ site.data.config.brand }}"
        class="site-logo"
      />
      <h1>{{ site.data.theme.brand }}</h1>
    </a>
    <nav class="site-nav">
      {%- include nav.html -%}
    </nav>
    <div class="header-utils">
      {%- include search-box.html -%}
      {%- include lang-switch.html -%}
    </div>
  </div>
</header>
