<div class="lang-switch">
  {% assign current_url = page.url %}

  {% if page.lang == 'en' %}
    
    {% if current_url == '/en/' %}
      <a href="/" class="lang-item">🇰🇷 KO</a>
    
    {% else %}
      <a href="{{ current_url | remove_first: '/en' | prepend: '/ko' }}" class="lang-item">🇰🇷 KO</a>
    {% endif %}
    
    <span class="lang-item active">🇺🇸 EN</span>

  {% else %}
    <span class="lang-item active">🇰🇷 KO</span>

    {% if current_url == '/' %}
      <a href="/en/" class="lang-item">🇺🇸 EN</a>
    
    {% else %}
      <a href="{{ current_url | remove_first: '/ko' | prepend: '/en' }}" class="lang-item">🇺🇸 EN</a>
    {% endif %}

  {% endif %}
</div>
