{% assign current_lang = page.lang | default: site.lang %}
<section class="panel">
  <h3 data-toc-skip>{{ site.data.locales[current_lang].panel.trending_tags }}</h3>
  <div class="tags">
    {% assign sorted_tags = site.tags | sort_natural: "first" %}
    {% for tag in sorted_tags %}
      {% assign tag_name = tag | first %}
      {% assign lang_posts = tag | last | where: "lang", current_lang %}
      {% if lang_posts.size > 0 %}
        <a class="tag" href="/{{ current_lang }}/tags/#{{ tag_name | slugify }}" title="{{ tag_name }}">
          {{ tag_name }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>
