{% assign lang_code = include.lang_code | default: "ko" %}
{% assign t_search = site.data.config[lang_code].search %}

<div class="search-box">
  <form id="search-form-{{ lang_code }}" action="{{ '/search/' | prepend: lang_code | relative_url }}" method="get">
    <input
      type="text"
      id="search-input-{{ lang_code }}"
      name="q"
      placeholder="{{ t_search.placeholder }}"
      aria-label="{{ t_search.placeholder }}"
    />
    <button type="submit" aria-label="{{ t_search.button }}">🔍</button>
  </form>
</div>
