<!-- /* _includes/seo.html  v6.3.5_202510170000 */ -->
{% seo %}
{% assign ga4 = site.data.theme.ga4_measurement_id %}
{% if ga4 and ga4 != "" %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4 }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ ga4 }}');
</script>
{% endif %}

{% assign cf = site.data.theme.cloudflare_beacon_token %}
{% if cf and cf != "" %}
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "{{ cf }}"}'></script>
{% endif %}
