---
layout: default
---
<h1 class="page-title">{{ page.title }}</h1>
<div class="taxonomies-wrapper">
  {% assign categories_in_lang = "" | split: "" %}
  {% for post in site.posts %}
    {% if post.lang == site.lang %}
      {% for category in post.categories %}
        {% assign categories_in_lang = categories_in_lang | push: category | uniq %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% for category in categories_in_lang %}
    <a class="taxonomy" href="{{ site.baseurl }}/categories/{{ category | slugify }}/">
      {{ category }}
    </a>
  {% endfor %}
</div>
