<!-- /* _layouts/default.html  v6.4.2_20251018 */ -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.config.site.default_lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    {% seo %}
    <link rel="icon" href="/assets/themes/light-mint/images/logo.svg">
    <link rel="stylesheet" href="/assets/themes/light-mint/css/style.css">
  </head>

  <body>
    {% include header.html %}
    <main class="main-content">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/translator.js"></script>
    <script src="/assets/js/search.js"></script>
  </body>
</html>
