---
layout: default
---
<h1 class="home-title">{{ page.title | default: 'Posts' }}</h1>
<ul class="post-list">
{%- assign l = page.lang | default: 'ko' -%}
{%- for p in site.posts -%}
  {%- if p.lang == l -%}
  <li>
    <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
    <small>{{ p.date | date: "%b %d, %Y" }}</small>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>

<section class="tag-cloud">
  <h3>Tags</h3>
  {%- for t in site.tags -%}
    {%- assign tag = t[0] -%}
    {%- assign posts = t[1] | where: 'lang', l -%}
    {%- if posts.size > 0 -%}
      <a class="tag" href="{{ '/' | append: l | append: '/tags/#' | append: tag | slugify | relative_url }}">{{ tag }} ({{ posts.size }})</a>
    {%- endif -%}
  {%- endfor -%}
</section>
