---
# /* _layouts/home.html  v6.3.5_202510170000 */
layout: default
---
<section class="hero">
  <h1>{{ site.data.config.site.brand }}</h1>
  <p>{{ site.data.config.site.tagline }}</p>
  {% include lang-switch.html %}
</section>

<section class="posts">
  <h2>Latest Posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit: site.data.config.site.posts_per_page %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <small>{{ post.date | date: "%Y-%m-%d" }}</small>
    </li>
    {% endfor %}
  </ul>
</section>
