---
layout: default
---
<div class="row">
  <div id="main-post" class="col-12 col-lg-11 col-xl-8">
    <div id="post" class="post">
      <article>
        <header>
          <h1 data-toc-skip>{{ page.title }}</h1>
          <div class="post-meta text-muted d-flex flex-wrap">
            <span>Posted {{ page.date | date: "%b %d, %Y" }}</span>
            {% if page.ref %}
              <div class="lang-switcher ms-auto">
                <span>Read in:</span>
                {% assign translations = site.posts | where: "ref", page.ref %}
                {% for t in translations %}
                  <a href="{{ t.url | relative_url }}" class="lang-btn {% if page.lang == t.lang %}active{% endif %}">
                    {{ t.lang | upcase }}
                  </a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </header>
        <div class="post-content">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
  <div id="post-toc-wrapper" class="col-2 d-none d-xl-block">
    <!-- Table of Contents -->
  </div>
</div>
