---
layout: default
---
<h1 class="page-title">{{ page.title }}</h1>
<div class="taxonomies-wrapper">
  {% assign tags_in_lang = "" | split: "" %}
  {% for post in site.posts %}
    {% if post.lang == site.lang %}
      {% for tag in post.tags %}
        {% assign tags_in_lang = tags_in_lang | push: tag | uniq %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% for tag in tags_in_lang %}
    <a class="taxonomy" href="{{ site.baseurl }}/tags/{{ tag | slugify }}/">
      {{ tag }}
    </a>
  {% endfor %}
</div>
