{% assign current_lang = page.lang | default: site.lang %}
{% assign posts_lang = site.posts | where: "lang", current_lang %}
{% assign taglist = "" | split: "" %}

{% for post in posts_lang %}
  {% for t in post.tags %}
    {% assign taglist = taglist | push: t %}
  {% endfor %}
{% endfor %}

{% assign top_tags = taglist | uniq | sort_natural %}

<div class="trending-tags">
  <h3 class="panel-heading">
    <i class="fas fa-fire"></i> 
    {{ site.data.locales[current_lang].panel.trending_tags | default: 'Trending Tags' }}
  </h3>
  <div class="panel-body">
    {% for tag in top_tags %}
      <a href="{{ '/' | append: current_lang | append: '/tags/#' | append: (tag | slugify) | relative_url }}">
        {{ tag }}
      </a>
    {% endfor %}
  </div>
</div>
